/* ********* */
/* @HOME */
/* ********* */

//Primera parte

.hometext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorIndex {
  height: 100vh;
  background-color: #7cdaf9;
  background-image: linear-gradient(
    0deg,
    #7cdaf9 0%,
    #8ec5fc 50%,
    #e0c3fc 100%
  );
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 100%;
  padding: 0% 10% 0% 10%;
  box-sizing: border-box;

  .imagenhome {
    height: 40%;
    width: 100%;
    background-image: url("../assets/img/smartphone/Home.webp");
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  h1 {
    font-family: "RobotoBold";
    font-size: 2rem;
    color: map-get($web-colors, colorBlanquecino);
    text-shadow: 1px 1px 2px black;
    animation: plus 1s ease 0s 1 normal forwards;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-family: "RobotoRegular";
    text-align: center;
    font-size: 1rem;
    color: map-get($web-colors, colorBlanquecino);
    text-shadow: 0.5px 1px 2px black;
    animation: plus 1s ease 0s 1 normal forwards;
  }

  .introhome {
    font-family: "RobotoItalic";
    text-align: center;
    font-size: 1rem;
    color: map-get($web-colors, colorBlanquecino);
    animation: slideright 1s ease 0s 1 normal forwards;
  }

  .chiqui {
    font-family: "RobotoBold";
    font-size: 0.8rem;
    text-decoration: underline;
    color: map-get($web-colors, colorBlanquecino);
    animation: slideright 1s ease 0s 1 normal forwards;
  }
}

//Segunda parte

.contenedor2Index {
  background-color: map-get($web-colors, colorPrincipal);
  height: 100vh;
}

.pinguindex {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20% 10%;
  box-sizing: border-box;

  h4 {
    font-family: "RobotoBlackItalic";
    font-size: 1.5rem;
    color: map-get($web-colors, colorBlanco);
    text-align: center;
  }
  .pingulogo {
    height: 60%;
    width: 100%;
    background-image: url("../assets/img/smartphone/PinguInicio.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .pingustart {
    border-radius: 24px;
    background-color: white;
    height: 48px;
    border: none;
    width: 55%;
    font-family: "RobotoBold";
    font-size: large;
  }
  .loginlink {
    text-decoration: none;
    color: black;
  }
}

//Animacion h1,h2 (Plus).
@keyframes plus {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 100%;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}

//Animacion p's (SlideRight)
@keyframes slideright {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .hometext {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .preview {
    padding: 5% 20%;
  }

  .preview .imagenhome {
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
    width: 50%;
    background-image: url(../assets/img/smartphone/Home.webp);
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .preview h1 {
    font-size: 3rem;
  }

  .preview h2 {
    font-size: 1.5rem;
  }

  .preview .introhome {
    font-size: 1.2rem;
  }

  .preview .chiqui {
    font-size: 1rem;
  }

  .pinguindex {
    padding: 3%;
  }

  .pinguindex h4 {
    font-size: 2rem;
  }

  .pinguindex .pingulogo {
    height: 80%;
  }

  .pinguindex .pingustart {
    height: 5rem;
    font-size: 2rem;
    width: 20vw;
    border-radius: 50px;
  }
}
