/* ********* */
/* @Login */
/* ********* */

//Background del Login

.contenedorLogin {
  display: flex;
  background-color: map-get($web-colors, colorMorado);
  height: 100vh;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.blueback {
  background-color: map-get($web-colors, colorPrincipal);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1Login {
  font-family: "RobotoBold";
  font-size: 24px;
  color: map-get($web-colors, colorBlanco);
  margin-bottom: 0;
}

.h2Login {
  font-family: "RobotoBold";
  font-size: 18px;
  color: map-get($web-colors, colorBlanco);
  margin-top: 0;
}

.pLogin {
  font-family: "RobotoRegular";
  font-size: 12px;
  color: map-get($web-colors, colorMorado);
  padding-top: 20px;
}

.forgotpass {
  margin-left: 90px;
  font-family: "RobotoRegular";
  font-size: 12px;
  color: map-get($web-colors, colorMorado);
}

.inputLogin {
  border-radius: 24px;
  background-color: map-get($web-colors, colorBlanco);
  height: 54px;
  border: none;
  width: 90%;
  font-family: "RobotoBold";
  font-size: large;
  margin-top: 15px;
  padding: 0 20px 0 20px;
  outline: none;
  color: map-get($web-colors, colorMorado);
}

.buttonLogin {
  border-radius: 24px;
  background-color: map-get($web-colors, colorMorado);
  color: map-get($web-colors, colorBlanco);
  height: 48px;
  border: none;
  width: 55%;
  font-family: "RobotoBold";
  font-size: large;
  margin-top: 20px;
}

.inputLogin::placeholder {
  color: map-get($web-colors, colorMorado);
  opacity: 60%;
}
