/* ********* */
/* @Login */
/* ********* */

//Background del Login

.contenedorLogin {
  display: flex;
  background-color: map-get($web-colors, colorMorado);
  height: 100vh;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.blueback {
  background-color: map-get($web-colors, colorPrincipal);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1Login {
  font-family: "RobotoBold";
  font-size: 2rem;
  color: map-get($web-colors, colorBlanco);
  margin-bottom: 0;
  animation: h1Login 0.5s ease 0s 1 normal forwards;
}

.h2Login {
  font-family: "RobotoBold";
  font-size: 1.2rem;
  color: map-get($web-colors, colorBlanco);
  margin-top: 0;
}

.pLogin {
  font-family: "RobotoRegular";
  font-size: 1rem;
  color: map-get($web-colors, colorMorado);
  padding-top: 20px;
}

.forgotpass {
  font-family: "RobotoRegular";
  font-size: 1rem;
  color: map-get($web-colors, colorMorado);
}

.inputLogin {
  border-radius: 24px;
  background-color: map-get($web-colors, colorBlanco);
  height: 54px;
  border: none;
  width: 90%;
  font-family: "RobotoBold";
  font-size: 1.2rem;
  margin-top: 15px;
  padding: 0 1rem 0 1rem;
  outline: none;
  color: map-get($web-colors, colorMorado);
}

.buttonLogin {
  border-radius: 24px;
  background-color: map-get($web-colors, colorMorado);
  color: map-get($web-colors, colorBlanco);
  height: 48px;
  border: none;
  width: 55%;
  font-family: "RobotoBold";
  font-size: 1.2rem;
  margin-top: 20px;
}

.inputLogin::placeholder {
  color: map-get($web-colors, colorMorado);
  opacity: 60%;
}

.linkregister {
  text-decoration: none;
  color: inherit;
}

// Foto de pingu.

.pingulogin {
  background-image: url("../assets/img/smartphone/PinguLogin.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 30%;
  width: 60%;
  box-sizing: border-box;
  animation: pingulogin 2.5s ease 0s 1 normal forwards;
}

//Animacion pingu.
@keyframes pingulogin {
  0%,
  100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateY(-30px) rotate(-6deg);
  }

  30% {
    transform: translateY(15px) rotate(6deg);
  }

  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateY(9px) rotate(2.4deg);
  }

  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}

//Animacion ¡HOLA!
@keyframes h1Login {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 100%;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}
