.contenedorPerfil {
  height: 100vh;
  width: 100vw;
  background-color: map-get($web-colors, colorRosita);
  display: flex;
  align-items: center;
  justify-content: center;
}

.formPerfil {
  font-family: "RobotoBold";
  font-size: 1.5rem;
  color: map-get($web-colors, colorBlanquecino);
  text-align: center;
  height: 50vh;
  padding: 2rem;
  background-color: map-get($web-colors, colorPrincipal);
  border-radius: 5px;
  border: white 5px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.botonperfil {
  border-radius: 50px;
  background-color: map-get($web-colors, colorRosita);
  text-align: center;
  padding: 3.5vh 0px;
  width: 70vw;
  border: none;
  text-decoration: none;
  font-family: "RobotoBold";
  font-size: large;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
