/* ********* */
/* @Register */
/* ********* */

//Background del Register

.contenedorRegister {
  display: flex;
  background-color: map-get($web-colors, colorMorado);
  height: 100%;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.blueback {
  background-color: map-get($web-colors, colorPrincipal);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.formRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1Register {
  font-family: "RobotoBold";
  font-size: 24px;
  color: map-get($web-colors, colorBlanco);
  margin-bottom: 0;
}

.pRegister {
  font-family: "RobotoRegular";
  font-size: 12px;
  color: map-get($web-colors, colorMorado);
  padding: 10px 0px;
}

.terminosRegister {
  display: flex;
  padding-top: 10px;

  .terms {
    margin-right: 10px;
  }
}

.tyc {
  font-family: "RobotoRegular";
  font-size: 14px;
  color: map-get($web-colors, colorMorado);
}

.inputRegister {
  border-radius: 24px;
  background-color: map-get($web-colors, colorBlanco);
  height: 54px;
  border: none;
  width: 80%;
  font-family: "RobotoBold";
  font-size: large;
  margin-top: 15px;
  padding: 0 20px 0 20px;
  outline: none;
  color: map-get($web-colors, colorMorado);
}

.buttonRegister {
  border-radius: 24px;
  background-color: map-get($web-colors, colorMorado);
  color: map-get($web-colors, colorBlanco);
  height: 48px;
  border: none;
  width: 55%;
  font-family: "RobotoBold";
  font-size: large;
  margin-top: 20px;
}

.inputRegister::placeholder {
  color: map-get($web-colors, colorMorado);
  opacity: 60%;
}
